* {
    color: darkred;
    background-color: rgb(240, 203, 155);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

h1 {
    font-size: 56px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid darkred;
    margin-top: 15px;
    width: 60%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}


a:link {
    color: pink;
}
a:visited {color: forestgreen}

a:hover {
    color: darkred;
}

a:active {
    color: crimson;
}

div {
    font-size: 30px; 
    margin-top: 5px;

}

.boksi {
    font-weight: 400;
    padding: 5px 5px;
    border: 4px solid darkred;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    text-align: center;
    width: 20%;
}